images/zz/image attribution.txt
images/zz/paper - no bg.xcf
images/zz/paper no label 1.xcf
images/zz/paper w label 1.xcf
images/zz/paper w label 2.xcf
images/zz/paper.png
images/zz/rock- no bg.xcf
images/zz/rock- no label.xcf
images/zz/rock- w label.xcf
images/zz/rock-paper-scissors-hand-icons.01.xcf
images/zz/rock-paper-scissors-hand-icons.png
images/zz/rock.png
images/zz/scissors no bg.xcf
images/zz/scissors no label.xcf
images/zz/scissors w label.xcf
images/zz/scissors.png
