* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    font-size: 24px;
    font-weight: bold;
    margin: auto;
    padding: 10px 20px;
    border-radius: 5px;
}

div {
    border: 1px solid red;
    min-height: 20px;
    padding: 10px 0;
}

.header {
    height: 75px;
    padding: 20px;
}

.header-text {
    text-align: center;
}

.btn-container {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
}

.rpsBtn {
    color: red;
    width: 150px;
}

.user-selection {
    color: blue;
}

.footer {
    height: 400px;
    padding: 10px;
}

#round-res {
    text-align: center;
    height: 75px;
    padding: 20px 20px;
}

#scorecard {
    text-align: center;
    height: 75px;
    padding: 20px 20px;
}

#final-res {
    height: 200px;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    gap: 10px;
}

.final-res-heading, .final-res-message {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}